<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ly.eserver">

    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.READ_LOGS" />
    <uses-permission android:name="android.permission.CAMERA" />
    <!--地图权限-->
    <uses-permission android:name="android.permission.BAIDU_LOCATION_SERVICE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="com.android.launcher.permission.READ_SETTINGS" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <!-- 这个权限用于进行网络定位-->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <!-- SD卡读取权限，用户写入离线定位数据-->
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <!--ShareSDK-->
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <uses-permission android:name="android.permission.READ_SMS" />

    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />

    <application
        android:name="com.ly.eserver.app.KotlinApplication"
        android:allowBackup="true"
        android:icon="@mipmap/logo_icons"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/logo_icons"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoBar">

        <activity android:name=".ui.activity.LoginActivity" >
            <intent-filter>
            <action android:name="android.intent.action.MAIN" />
            <category android:name="android.intent.category.LAUNCHER" />
        </intent-filter>
        </activity>
        <activity android:name="com.ly.eserver.ui.activity.main.MainActivity" />
        <activity android:name=".ui.activity.ChangePwdActivity" />
        <activity android:name=".ui.activity.RetrievePwdActivity" />
        <activity android:name=".ui.activity.BlueToothActivity" />
        <activity android:name=".ui.activity.ReadDataActivity" />
        <activity android:name=".ui.activity.MenuActivity" />
        <activity android:name=".ui.activity.ReimbursementActivity" />
        <activity android:name=".ui.activity.PersonLogActivity" />
        <activity android:name=".ui.activity.DescriptionActivity" />
        <activity android:name=".ui.activity.BigPictureActivity" />
        <activity
            android:name="com.mob.tools.MobUIShell"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <!--these codes-->
        <service android:name="com.cretin.www.cretinautoupdatelibrary.utils.DownloadService"/>
        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="com.ly.eserver.fileprovider"
            android:grantUriPermissions="true"
            android:exported="false"
            >
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>
        <meta-data
            android:name="com.amap.api.v2.apikey"
            android:value="57df078763717c003a24c73e5e96ac0d" />
        <meta-data
            android:name="Mob-AppKey"
            android:value="1fb5736107964" />
        <meta-data
            android:name="Mob-AppSecret"
            android:value="5476e1761a6f2505040f4566ff2f3870" />
        <!-- 蓝牙服务 -->
        <service
            android:name="com.ly.eserver.service.BluetoothService"
            android:exported="false"
            android:permission="android.permission.BLUETOOTH">
            <intent-filter>
                <action android:name="com.ly.eserver.service.BluetoothService" />
                <category android:name="android.intent.category.default" />
            </intent-filter>
        </service>

        <service android:name="com.amap.api.location.APSService"></service>
    </application>

</manifest>